<div class="row">
  <div class="dropdown pull-left">
    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
      <%= params.key?(:color) ? params[:color] : 'Color' %>
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
      <li> <%= link_to 'Green',  filter_path(color: 'green') %> </li>
      <li> <%= link_to 'Orange', filter_path(color: 'orange') %> </li>
      <li> <%= link_to 'Purple', filter_path(color: 'purple') %> </li>
      <li> <%= link_to 'Red',    filter_path(color: 'red') %> </li>
      <li> <%= link_to 'Yellow', filter_path(color: 'yellow') %> </li>
    </ul>
  </div>
</div>

