<nav>
  <ul class="pagination">
    <% if page > 1 %>
      <li> <%= link_to '<< First', params.merge(page: 1) %> </li>
      <li> <%= link_to '< Prev',   params.merge(page: page - 1) %> </li>
    <% end %>

    <% last_page = total_results / PER_PAGE %>
    <% last_page += 1 unless total_results % PER_PAGE == 0 %>

    <% last_page.times do |p| %>
      <li class="<%= 'active' if page == p + 1 %>"> <%= link_to  p + 1, params.merge(page: p + 1) %> </li>
    <% end %>

    <% if page < last_page %>
      <li> <%= link_to 'Next >',  params.merge(page: page + 1) %> </li>
      <li> <%= link_to 'Last >>', params.merge(page: last_page) %> </li>
    <% end%>
  </ul>
</nav>
