<div class="row text-center">
  <nav>
    <ul class="pagination">
      <% page = params[:page].to_i %>

      <% if page > 1 %>
        <li> <%= link_to '<< First', safe_params.merge(page: 1) %> </li>
        <li> <%= link_to '< Prev',   safe_params.merge(page: page - 1) %> </li>
      <% end %>

      <% last_page = total_results / PER_PAGE %>
      <% last_page += 1 unless total_results % PER_PAGE == 0 %>

      <% range_start = [page - PAGE_RANGE, 1].max %>
      <% range_end = [page + PAGE_RANGE, last_page].min %>

      <% if page - 1 > PAGE_RANGE %>
        <li class='disabled'> <span href="#">...</span> </li>
      <% end %>

      <% (range_start..range_end).each do |p| %>
        <li <%= 'class=active' if page == p %> > <%= link_to p, safe_params.merge(page: p) %> </li>
      <% end %>

      <% if last_page - page > PAGE_RANGE %>
        <li class='disabled'> <span href="#">...</span> </li>
      <% end %>

      <% if page < last_page %>
        <li> <%= link_to 'Next >',  safe_params.merge(page: page + 1) %> </li>
        <li> <%= link_to 'Last >>', safe_params.merge(page: last_page) %> </li>
      <% end%>
    </ul>
  </nav>
</div>
