<div class="container logo-search">
  <div>
    <%= link_to image_tag('logo.png'), root_url %>
  </div>

  <%= form_tag juices_path, method: 'get', class: 'navbar-form', role: 'search', enforce_utf8: false do %>
    <div class="input-group search-bar">
      <input type="search" class="form-control" name="q" value="<%= params[:q] %>" id="q" autofocus="autofocus" size="55" placeholder="search by juice title, ingredients or tags..." tabindex="0" />
      <div class="input-group-btn">
        <button class="btn btn-success" type="submit"><i class="glyphicon glyphicon-search"></i></button>
      </div>
    </div>
    <div id="clear-text2">
      <% if params[:q].present? %>
        <%= link_to ('<small> Clear </small>').html_safe, params.except(:q, :page) %>
      <% end %>
    </div>
  <% end %>
</div>

<script>
$.widget("custom.suggest", $.ui.autocomplete, {
  _renderMenu: function( ul, items ) {
    $.each( items, function( index, item ) {
      var category = ul;
      $.each( item.value, function( index, item ) {
        var li = $('<li class="ui-autocomplete-item"><a href="<%= Rails.application.config.relative_url_root %>'+ item.payload.url +'">'+ item.text +'</a></li>').data('ui-autocomplete-item', item )
          category.append(li)
      } )
    });
  }
});

$("#q").suggest({
  source: '<%= suggest_path %>',
  select: function(event, ui) {
    document.location.href = '<%= Rails.application.config.relative_url_root %>'+ui.item.payload.url
  }
});
</script>
